body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 25px;
}.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 10px;
 }
 .left{
     width: 65%;
 }
.menu{
    font-size: 60px;
    margin-bottom: 5px;
    background-color: #fefdf8;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 0 rgba(0,0,0,0.75);
}
.subtitle{
    font-size: 20px;
}
.burgsand{
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 50px;
    font-weight: bold;
}
.title{
    position: relative;
    top: 250px;
    left: 250px;
    font-size: 50px;
    font-weight: bold;
}
.parallax1{
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    background-image: url("../images/louis-hansel-V4PiMv9EcJI-unsplash.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    background-image: url("../images/christopher-flowers-zOdR2lfDyzA-unsplash.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3{
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    background-image: url("../images/soft-drink-2741251_1920.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax4{
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    background-image: url("../images/brenda-godinez-AAHdL8gp5b8-unsplash.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.burgers, .sides, .drinks{
    background-color: #fefdf8;
    margin: 10px 0 30px 0;
    padding: 10px;
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    border-radius: 10px;

}
.burgers li, .sides li, .drinks li{
    padding: 10px;
}
.desserts{
    margin-top: 10px;
    background-color: #fefdf8;
    padding: 10px;
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    border-radius: 10px;

}
.desserts ul{
    margin: 10px;
}
.right{
    width: 30%;
    background-color: #fefdf8;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 0 rgba(0,0,0,0.75);
}
.FAQ{
    width: 100%;
}
.FAQ h2{
    width: 100%;
    margin-left: 10px;
}
.Q1, .Q2{
    margin: 5px;
}
.Q1 h4, .Q2 h4{
    transition: transform .2s;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 10px;
}
.Q1 h4:hover, .Q2 h4:hover{
    transform: scale(1.03);
}
.Q1 p, .Q2 p{
    font-size: 16px;
    padding: 5px;
}
