body{
    background-image: url(../../images/background.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.menu{
    font-size: 60px;
    margin: 15px 0 5px 30px;
    background-color: #f1f1f1;
    display: flex;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 0 rgba(0,0,0,0.75);
}
.title{
    position: relative;
    top: 250px;
    left: 250px;
    font-size: 50px;
    font-weight: bold;
}
.parallax1{
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    background-image: url("../../images/louis-hansel-V4PiMv9EcJI-unsplash.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    background-image: url("../../images/christopher-flowers-zOdR2lfDyzA-unsplash.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3{
    box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.75);
    background-image: url("../../images/soft-drink-2741251_1920.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}