@viewport {
    width: device-width;
    zoom: 1.0;
}
body{
    background-image: url(../../images/background.jpg);
    background-size: cover;
    margin-top: 80px;
}
.header{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    box-shadow: 0 0 25px 0 black;
}
.header *{
    display: flex;
}
.header img{
    height: 80px;
    margin-left: 15px;
}
#myDIV{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.active, .btn:hover {
    background-color: gold;
    color: white;
}
.active a, .btn a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;