body {
    background-image: url(../../images/background.jpg);
    background-size: cover;
    margin: auto auto;
}
.burgerimg{
    margin-top: 80px;
    background-image: url("../../images/burger-hero.jpg");
    background-color: red;
    height:350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}
.main{
    display: flex;
    margin-top: 10px;
}
.left{
    background-color: #ffffff;
}
.right{
}
.video{


}
video{

}
.testimonials{
    background-color: pink;
}
.testimonials h3{

}
.testimonials h4{

}
